<!-- loading -->
<div ng-show="loaderCtrl.appLoading">
    <div class="page-splash">
        <div class="page-splash-message"
             ng-bind="loaderCtrl.loadingMessage">
        </div>
        <div class="loading">
            <div><i class="fa fa-refresh fa-spin fa-5x"></i></div>
        </div>
    </div>
</div>

<!-- priming -->
<div ng-show="loaderCtrl.priming" class="dissolve-animation">
    <div class="page-splash">
        <div class="page-splash-message"
             ng-bind="loaderCtrl.primingMessage">
        </div>
        <div class="loading">
            <div><i class="fa fa-refresh fa-spin fa-5x"></i></div>
        </div>
    </div>
</div>