<md-dialog aria-label="Sign In">
    <md-content class="md-padding">
        <div ng-switch="signInCtrl.state">
            <form name="signInForm" ng-switch-when="signIn" novalidate>
                <md-subheader class="md-primary">Sign In</md-subheader>

                <md-input-container flex><label>Email</label>
                    <input ng-model="signInCtrl.user.email"
                           type="email"></md-input-container>

                <md-input-container flex><label>Password</label>
                    <input ng-model="signInCtrl.user.password"
                           type="password"></md-input-container>

                <md-button class="md-raised md-primary" ng-click="signInCtrl.signIn()">Sign In</md-button>

                <md-button class="md-warn"
                           ng-click="signInCtrl.setState('signUp')">
                    Create Account
                </md-button>
            </form>

            <form name="signInForm" ng-switch-when="signUp" novalidate>
                <md-subheader class="md-primary">Create Account</md-subheader>

                <md-input-container flex><label>User Name</label>
                    <input ng-model="signInCtrl.user.username"
                           type="text"></md-input-container>

                <md-input-container flex><label>Email</label>
                    <input ng-model="signInCtrl.user.email"
                           type="email"></md-input-container>

                <md-input-container flex><label>Password</label>
                    <input ng-model="signInCtrl.user.password"
                           type="password"></md-input-container>

                <md-button class="md-raised md-primary" ng-click="signInCtrl.signUp()">Sign Up</md-button>


                <md-button class="md-warn"
                           ng-click="signInCtrl.setState('signIn')">
                    Sign In
                </md-button>
            </form>

            <div class="md-actions" layout="row"><span flex></span>
                <md-button ng-click="signInCtrl.cancel()">Cancel</md-button>
            </div>
        </div>
    </md-content>
</md-dialog>
<!--<md-dialog aria-label="Sign In">-->
<!--<md-content class="md-padding">-->
<!--<form name="userForm">-->
<!--<div layout layout-sm="column">-->
<!--<md-input-container flex><label>First Name</label>-->
<!--<input ng-model="addCtrl.user.firstName"-->
<!--placeholder="Ignored Placeholder">-->
<!--</md-input-container>-->
<!--<md-input-container flex><label>Last Name</label>-->
<!--<input ng-model="addCtrl.user.lastName"></md-input-container>-->
<!--</div>-->
<!--<md-input-container flex><label>Address</label>-->
<!--<input ng-model="addCtrl.user.address"></md-input-container>-->
<!--<div layout layout-sm="column">-->
<!--<md-input-container flex><label>City</label>-->
<!--<input ng-model="addCtrl.user.city"></md-input-container>-->
<!--<md-input-container flex><label>State</label>-->
<!--<input ng-model="addCtrl.user.state"></md-input-container>-->
<!--<md-input-container flex><label>Postal Code</label>-->
<!--<input ng-model="addCtrl.user.postalCode">-->
<!--</md-input-container>-->
<!--</div>-->
<!--<md-input-container flex><label>Biography</label>-->
<!--<textarea ng-model="addCtrl.user.biography" columns="1"-->
<!--md-maxlength="150"></textarea>-->
<!--</md-input-container>-->
<!--</form>-->
<!--</md-content>-->
<!--<div class="md-actions" layout="row"><span flex></span>-->
<!--<md-button ng-click="signInCtrl.cancel()"> Cancel</md-button>-->
<!--<md-button ng-click="addCtrl.save()" class="md-primary"> Save</md-button>-->
<!--</div>-->
<!--</md-dialog>-->