<div class="row">
    <div class="columns medium-12">
        <p>
            Show a customizable loader from any controller by simply injecting the loaderService

        <p><a ng-click="gettingStartedCtrl.showLoader()">Show Loader</a></p>
        </p>

        <p>
            Notify users of success / errors from any controller by simply injecting the easily customizable
            notifyService

        <p><a ng-click="gettingStartedCtrl.notifyUser()">Notify User</a></p>
        </p>
    </div>
</div>